__pycache__/
*.pyc
.pytest_cache/
.venv/

data_raw/*
!data_raw/.gitkeep
data_processed/*
!data_processed/.gitkeep
results/figures/*
!results/figures/.gitkeep
results/tables/*
!results/tables/.gitkeep
